
header.viewheader {
    background: white;
    height: 57px;
    box-shadow: 0 0 15px 0px rgb(0 0 0 / 11%);

    & .left {
        width: 80%;
    }
    & .middle {
        width: 10%;
    }
    & .right {
        width: 10%;
    }
}

img.logo {
    width: 47px;
    margin-left: 15px;
    margin-right: 8px;
    position: relative;
    top: -8px;
}

img.logo + strong {
    display: inline-block;
    position: relative;
    top: -20px;
    font-size: 18px;
}

.content {
    margin: 35px auto;
    max-width: 400px;
}

h1 {
    padding-left: 13px;
    padding-bottom: 21px;
}

button {
    margin-top: 20px;
    margin-left: 12px;
}

.error {
    margin-top: 20px;
    margin-left: 12px;
    padding: 8px 10px;
    background-color: #d25050;
    border-radius: 4px;
    color: white;
}


