


<c-overlay size="small" showheader="true" closebtn="true" show="false">

  <span slot="headermiddle">Authenticate</span>
  <span slot="headerright" @click="${()=>this.login()}"><strong>login</strong></span>

  <form name="login">
    <ul class="items">

      <li>
        <label class="text" for="username">Username</label>
        <input type="text" name="username" id="username" value="" style="text-align:left;">
        <label class="action" for="username"><i class="icon-edit1"></i></label>
      </li>

      <li>
        <label class="text" for="password">Password</label>
        <input type="password" name="password" id="password" value="" style="text-align:left;">
        <label class="action" for="password"><i class="icon-edit1"></i></label>
      </li>

    </ul>
  </form>

</c-overlay>

