[submodule "client/client_pwt"]
	path = client/client_pwt
	url = git@github.com:Pure-Water-Tech/client_pwt.git
[submodule "server/src/server_pwt"]
	path = server/src/server_pwt
	url = git@github.com:Pure-Water-Tech/server_pwt.git
[submodule "client/client_xen"]
	path = client/client_xen
	url = git@github.com:risingtiger/client_xen.git
[submodule "server/src/server_xen"]
	path = server/src/server_xen
	url = git@github.com:risingtiger/server_xen.git
