{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext",
    "transform": {},
    "externalHelpers": false
  },
  "module": {
    "type": "es6",
    "strict": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": false,
  "minify": false
}
