

c-graphing {
  display: block;

  & .ct-chart {

    & .ct-series-a .ct-line {
      stroke-width: 2px;
      stroke: #0091e8;
    }

    & .ct-series-a .ct-bar {
      stroke: #0091e8;
    }
  }
}





