
:root {
    --fontfamily: -apple-system, BlinkMacSystemFont, sans-serif;
    --textcolor: #565656;
    --textcolor-fade: #818181;
    --textsize: 14px;
    --actioncolor: #0091e8;
    --background: white;
    --background-highlight: #f9f9f9;
    --bordercolor: lightgray;

    /* layout and spacing */
    --padding-container: 10px;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-family: var(--fontfamily);
    -webkit-font-smoothing: antialiased;
    font-size: var(--textsize);
    line-height: 1.2;
    margin: 0;
    padding: 0 0px 0 0;
    color: var(--textcolor);
}

#update {
	display: none;
	
	#update_progress {
		display: none;
		margin: 0 auto;
		width: 300px;
	}
	#update_progress {
		display: block;
	}
	
	#update_done {
		display: none;
		margin: 0 auto;
		width: 300px;
	}
	#update_done {
		display: block;
	}
}
#update.active {
	display: block;
}


#login {
	display: none;

	& h1 {
		font-size: 20px;
        text-align: center;
		margin-bottom: 26px;
	}

	margin: 0 auto;
	width: 300px;

	& > ul {
		margin: 0;
		padding: 0;
		list-style: none;

		& > li {
			margin-bottom: 24px;

			& > h5 {
				display: block;
				font-size: 14px;
				margin-bottom: 5px;
			}

			& > input {
				box-sizing: border-box;
				width: 100%;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
				font-size: 14px;
			}
		}
	}

	& button {
		appearance: none;
		border-radius: 0;
		text-align: inherit;
		background: none;
		box-shadow: none;
		padding: 0;
		cursor: pointer;
		border: none;
		color: inherit;
		font: inherit;
	}

	& #login_errormsg {
		margin-top: 10px;
		padding: 10px;
		border: 1px solid #dc3545;
		border-radius: 5px;
		background-color: #f8d7da;
		color: #721c24;
		font-size: 14px;
	}
}
#login.active {
	display: block;
} 
