

:host {
    position: relative;
    box-sizing: border-box;
}



input {
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 7px 5px 8px 5px;
    color: #6d6d6d;
}

i {
    position: absolute;
    top: 5px;
    left: 8px;
    font-size: 20px;
}
