

${_s.eltype === 'input' ? Lit_Html`
    <input type="${_s.type}" placeholder="${_s.placeholder}" value="${_s.value}" />
` : ''}

${_s.eltype === 'textarea' ? Lit_Html`
    <textarea>${_s.value}</textarea>
` : ''}

${_s.eltype === 'select' ? Lit_Html`
    <select>
        ${_s.opt_vals.map((o,i) => `
        <option value="${_s.opt_vals[i]}" } ?selected="${_s.opt_selected === i}">${_s.opt_labels[i]}</option>
        `)}
    </select>
` : ''}

${_s.eltype === 'submitbtn' ? Lit_Html`
    <button>${_s.label}</button>
` : ''}
