


<div class="wrapper ${_s.size}">
  ${_s.showheader ? Lit_Html`
    <header>
      <div class="left">${_s.closebtn ? Lit_Html`<a @click="${()=>this.dispatchEvent(new Event('requested_close'))}">close</a>` : ''} <slot name="headerleft"></slot></div>
      <div class="middle"><h1><slot name="headermiddle"></slot></h1></div>
      <div class="right"><slot name="headerright"></slot></div>
    </header>
  ` : ''}
  <slot></slot>
</div>

<div class="backgroundcover" @click="${()=> { this.dispatchEvent(new Event('requested_close'));}}"></div>
