

c-graphing {
    display: block;

    & .ct-chart {

        & .ct-series-a { 
            & .ct-line {
                stroke-width: 1.5px;
                stroke: #0091e8;
            }

            & .ct-bar {
                stroke: #0091e8;
            }
        }

        & .ct-series-b { 
            & .ct-line {
                stroke-width: 1.5px;
                stroke: #1eeba7;
            }

            & .ct-bar {
                stroke: #1eeba7;
            }
        }
    }
}





