


<div class="wrap">

    <h1>Authenticate</h1>

    <form name="login">
        <ul class="items">

            <li>
                <label class="text" for="username">Username</label>
                <input type="text" name="username" id="username" value="" style="text-align:left;">
                <label class="action" for="username"><i class="icon-edit1"></i></label>
            </li>

            <li>
                <label class="text" for="password">Password</label>
                <input type="password" name="password" id="password" value="" style="text-align:left;">
                <label class="action" for="password"><i class="icon-edit1"></i></label>
            </li>

        </ul>

    </form>

    ${_s.error_msg ? Lit_Html`<div class="error">${_s.error_msg}</div>` : ''}

    <button class="btn" @click="${()=>this.Login()}">login</span>

</div>

