

v-auth {
    & .wrap {
        margin: 34px auto;
        max-width: 400px;
    }

    & h1 {
        padding-left: 13px;
    }

    & button {
        margin-top: 20px;
        margin-left: 12px;
    }
}


